@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary {
  width: fit-content;
  padding: .7rem 1.5rem;
  background-color: black;
  color: white;
}

.btn-secondary {
  width: fit-content;
  padding: .7rem 1.5rem;
  background-color: white;
  color: black;
  border: 1px black solid;
}